.wrapper {
	width: 640px;
	margin: 0px auto;
}

#slider > img {
	width: 640px;
	height: 360px;
	border-radius: 10px;
	float: left;
	display: none;
}

#slider {
	width: 640px;
	height: 360px;
	overflow: hidden;
	margin: 30px auto;
}

a {
	padding: 5px 10px;
	background-color: #f1f1f1;
	margin-top: 30px;
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #666;
}

a.left {
	float: left;
}

a.right {
	float: right;
}